  body {
    background-color: #008080;
  }
  
  main {
    margin: auto;
    padding: 0;
    width: 800px;
    background-color: #ffffff;
    border: 6px solid #000080;
    border-radius: 15px;
  }
  
  #timer_container {
    margin: 5px auto; /* top/bottom is 5px.  left/right is auto, so it is centered */
    padding: 3px;
    width: 800px; 
    background-color: #00ccff;
    border: 5px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;  /* white text */;
    font-size: 20px;
    text-align: center;
  }

  .pretty_button {
    background-color: #ffffff;
    border: none;
    color: #000080;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
  }

  #logo {
    display: block;
    margin: auto;
  }
  
  hr {
    margin: auto 0 auto 0;
    background: #000080;
    height: 6px;
  }
  
  /* Table styles  */
  td {
    width: 200px;
    height: 225px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 4px solid black;
    border-right: 4px solid black;
  }
  .hori {
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }